*{
    margin: 0;
    font-size: 18px;
}

.log{
    position: relative;
    left: 330px;
    top: 180px;
    transform: translate(-30px,-50px);
    width: 600px;

}

button{
    padding: 8px;
    margin-right: 8px;
    font-size: 18px;
    margin-top: 15px;
}

input{
    width: 400px;
    padding: 1rem;
    margin-bottom: 20px;
    border-radius: 5px;
}
.header{
    padding-top: 30px;
    text-align: center;
    height: 60px;
    background: #8395a7;
  
}
h1{
    font-size: 35px;

}
#log-ul li{
    list-style: none;
    padding: 12px;
    background: rgba(245, 222, 179, 0.65);
    width: 380px;
    border: solid 1px #8395a7;
    margin: 5px;
    border-radius: 5px;
    font-size: 22px;

}
.box{
    height: 500px;
    background-color: #f3a683;
}